<div id="notice" style="text-align: center;"><%= notice %></div>

<h2 class="courier_name"><%= @courier.name %></h2>
<p class="courier_email"><%= @courier.email %></p>

<div id="packages_wrapper">
  <%= render @courier.packages %>
  <div id="form">
    <%= render "packages/form" %>
  </div>
</div>

<div class="links">
  <%= link_to 'Edit', edit_courier_path(@courier) %> |
  <%= link_to 'Delete', courier_path(@courier), method: :delete, data: { confirm: "Are you sure?" } %> |
  <%= link_to 'Back', couriers_path %>
</div>





